header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*height: 150px; */
    /*background: #f97c23;*/
}

body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: white;
}

.footer{
    /*float: left;*/
    width: 100%;
    margin-top: 50px;
    /*border: 2px solid grey;*/
    border-top: 2px solid grey;
    /*background: antiquewhite;*/
    /*box-shadow: 10px 10px 5px #888888;*/
    /*height: 300px;*/
}

.footer div{
  float: left;
  width: 300px;
  color: #888;
  /*padding: 60px 0 40px 0;*/
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.footer div a{
  float: left;
}

.logo{
    background-image: url('../img/logo.jpg');
    background-repeat: no-repeat;
    background-position: 50% 10px;
    max-width:100px;
    max-height:100px;
}

.imgContainer{
    height: 300px;
    width: 300px;
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
}

.homeContainer{
    padding-top: 60px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    /* clear: both; */
    text-align: center;
}
.left{
    float: left;
    margin-left: 30px;
}

.right{
    float: right;
    margin-right: 30px;
}

.wideHomeImage{
    filter: grayscale(1);
    opacity: .5;
    /*clear: both;*/
    display: block;
    width: 70%;
    height: 300px;
    margin-top: 10px;
/*    margin-left: auto;
    margin-right: auto;*/
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
}

.wideHomeImage:hover{
    filter: grayscale(0);
    opacity: 1;
    /*width: 100%;*/
}

.tooltiptext{
    visibility: hidden;
}

.wideHomeImage:hover .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    visibility: visible;
}

.containner{
    width: 100%;
    height: 300px;
}

.homeImage{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 25px;
    z-index: -2;
    float: left;
    box-shadow: 10px 10px 5px #888888;

    /*filter: grayscale(1);*/
    /*opacity: .5;*/
}

.homeImage:hover{
    box-shadow: none;
}

/*.homeImage:hover{
    filter: grayscale(0);
    opacity: 1;
}*/

.waterprint {
    font-size: 12px;
    color: #ffffff;
    background-color: #000000;
    opacity: 0.8;
    padding: 2px 4px 2px 4px;
    display: inline-block;
    position: relative;
    bottom: 25px;
    /*right: 25px;*/
    float: right;
    z-index: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.Nav {
    display: inline-block;
    background: white;
    width: 100%;
    min-width: 800px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 70px;
    box-shadow: 5px 5px 5px #888888;
    opacity: .8;
}

.Nav img{
    float: left;
    width: 150px;
    height: 70px;
}

.Nav div {
    float: left;
    min-width: 0px;
}

.Nav div:hover {
    border-bottom: 2px solid black;
}

.NavText {
    display: block;
    color: grey;
    text-align: center;
    padding: 23px 10px;
    text-decoration: none;
    float: left;
    font-weight: bold;
    font-size: 20px;
}

.NavText:hover{
    color: black;
}
.petBox {
    width: 300px;
    height: 450px;
    margin-left: 15px;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 25px;
    float: left;
    box-shadow: 10px 10px 5px #888888;
}

.petBox div a{
    margin-left: 15px; 
    font-weight: bold;
}

.petBox div div{
    margin-left: 15px; 
    margin-right: 15px; 
}

.petBoxImage {
    width: 300px;
    height: 300px;
    border-radius: 25px;
}

.galleryContainer {
    width: 50%;
    margin: 0 auto;
    /*height: 300px;*/
}

.contact {
    float: left;
    width: 50px;
    height: 50px;
}

.moreDescription {
    text-overflow: ellipsis;
}

/*.image-gallery-thumbnails{
    display: none;
}*/
/*///////////////////////////////////*/

.delay{
    animation-duration: 1s !important;
}

.galleryImage{
    width: 300px;
    height: 300px;
    padding-right: 5px;
}